<!DOCTYPE html>
<html lang="en">
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header') %>
    <h1>Welcome , <%= user.name %></h1>
    <h2>Your Email ID : <%= user.email %></h2>
    <h2>Skills : </h2>
    <ul>
        <% user.skills.forEach((item) =>{ %>
            <li><%= item %></li>
       <% })%>
    </ul>
</body>
</html>